<div class="container-fluid example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>News Headlines</span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav class="example-sidenav" fixedInViewport="true" [style.marginTop.px]="56">
      <mat-list class="list-nav">
        <mat-list-item class="list-item" *ngFor="let source of mSources"
          (click)="searchArticles(source.id);sidenav.close();">
          <span class="source-name">{{ source.name }}</span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="example-sidenav-content">
      <div class="card-deck1">
        <div class="card example-card" *ngFor="let article of mArticles">
          <mat-card-title class="title">{{ article.title }}</mat-card-title>
          <mat-card-subtitle>{{ article.source.name }}</mat-card-subtitle>
          <img class="img-fluid img-article" src={{article.urlToImage}} alt="">
          <div class="card-body example-card-body">
            <p class="card-text">{{ article.description }}</p>
          </div>
          <div class="card-footer">
            <mat-card-actions class="action-buttons">
              <button mat-button color="primary">
                {{ article.publishedAt | date:'medium' }}
              </button>
              <a mat-button color="primary" href={{article.url}} target="_blank">
                <mat-icon>visibility</mat-icon> More
              </a>
            </mat-card-actions>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>